## Other settings

# This adds the 'respond' G-Code that you can use to send commands back to OctoPrint
[respond]
default_type: echo

# This enables a 'force_move' command ignoring all homing, Z-stops etc. Useful in debugging.
[force_move]
enable_force_move: True

# This adds pause/resume support
[pause_resume]

# add virtual sd card
[virtual_sdcard]
path: ~/.octoprint/uploads/

#DWC2
#[virtual_sdcard]
#path: /home/pi/sdcard

#[web_dwc2]
## optional - defaulting to Klipper
#printer_name: Reiner Calmund
## optional - defaulting to 0.0.0.0
#listen_adress: 0.0.0.0
## needed - use above 1024 as nonroot
#listen_port: 4750
## optional defaulting to dwc2/web. Its a folder relative to your virtual sdcard.
#web_path: dwc2/web

[safe_z_home]
home_xy_position: 150,150
speed: 60.0
z_hop: 10.0
z_hop_speed: 10.0

# Detecteur fin filament
[filament_switch_sensor my_sensor]
pause_on_runout: True
runout_gcode:
      M600
switch_pin: ^ar2

[firmware_retraction]
retract_length: 2.6
retract_speed: 25
unretract_extra_length: 0
unretract_speed: 20

# Support for gcode arc (G2/G3) commands.
[gcode_arcs]
resolution: 1.0
